<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />

  <node launch-prefix="$(arg launch_prefix)" pkg="exotica_examples" type="example_cpp_core" name="example_cpp_core_node" output="screen" />

</launch>
