<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb -ex run --args python$(env ROS_PYTHON_VERSION)" />

  <param name="robot_description" textfile="$(find exotica_examples)/resources/robots/lwr_simplified.urdf" />
  <param name="robot_description_semantic" textfile="$(find exotica_examples)/resources/robots/lwr_simplified.srdf" />

  <node launch-prefix="$(arg launch_prefix)" pkg="exotica_examples" type="example_lazy_prm" name="example_lazy_prm_node" output="screen" />

  <node name="rviz" pkg="rviz" type="rviz" respawn="false"	args="-d $(find exotica_examples)/resources/rviz.rviz" />
</launch>
