<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />

  <node launch-prefix="$(arg launch_prefix)" pkg="exotica_examples" type="example_sphere_collision" name="example_sphere_collision_node" output="screen" />

  <node name="rviz" pkg="rviz" type="rviz" respawn="false"	args="-d $(find exotica_examples)/resources/rviz_sphere_collision.rviz" />
</launch>
