<launch>
  <param name="robot_description" textfile="$(find val_description)/urdf/valkyrie_A_sim_drake.urdf"/>
  <param name="robot_description_semantic" textfile="$(find exotica_json)/resources/valkyrie.srdf" />
  <node pkg="dynamic_reachability_map" type="DRMActionNode" name="DRMActionNode" output="screen" >

    <param name="RobotModel" type="string" value="/robot_description"/>
    <param name="DRMModel" type="string" value="/drm_robot_description"/>
    <param name="DRMPath" type="string" value="/home/edbot/Documents/drm_val_data/valkyrie_floating_base"/>
    <param name="Clustering" type="bool" value="0"/>
  </node>
</launch>
