<launch>
  <param name="robot_description" textfile="$(find val_description)/urdf/valkyrie_A_sim_drake.urdf"/>
  <param name="robot_description_semantic" textfile="$(find exotica_json)/resources/valkyrie.srdf" />

  <node pkg="dynamic_reachability_map" type="DRMSpaceSampler" name="DRMSpaceSampler_2" output="screen">
    <param name="EndEffector" type="string" value="leftPalm"/>
    <param name="Group" type="string" value="BaseUpperBodyLeft"/>
    <param name="SpaceBounds" type="string" value="-0.1 0.9 -0.2 1 0.2 1.4"/>
    <param name="CellSize" value="0.1"/>
    <param name="ThreadsNumber" value="1"/>
    <param name="CheckOccupation" value="1"/>
    <param name="SampleSize" value="500000"/>
  </node>
</launch>
