<launch>
  <param name="robot_description" textfile="$(find val_description)/urdf/valkyrie_A_sim_drake.urdf"/>
  <param name="robot_description_semantic" textfile="$(find exotica_json)/resources/valkyrie.srdf" />
  <node pkg="dynamic_reachability_map" type="DRMSpaceSampler" name="DRMSpaceSampler" output="screen">
    <param name="EndEffector" type="string" value="leftPalm"/>
    <param name="Group" type="string" value="BaseUpperBodyLeft"/>
    <param name="SpaceBounds" type="string" value="-0.2 1.5 -0.5 1.5 -0.3 1.3"/>
    <param name="CellSize" value="0.1"/>
    <param name="ThreadsNumber" value="8"/>
    <param name="CheckOccupation" value="0"/>
    <param name="SampleSize" value="1000000"/>
  </node>
</launch>
