<?xml version="1.0"?>
<robot name="A_vs_B">
  <material name="blue">
    <color rgba="0 0 0.8 .5"/>
  </material>
  <material name="green">
    <color rgba="0 0.8 0 .5"/>
  </material>
  <link name="A">
    <visual>
      <geometry>
        <sphere radius="1"/>
      </geometry>
      <origin rpy="0.0 0 0" xyz="-1.5 0 0"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="1"/>
      </geometry>
      <origin rpy="0.0 0 0" xyz="-1.5 0 0"/>
      <material name="blue"/>
    </collision>
  </link>
  <link name="B">
    <visual>
      <geometry>
        <cylinder length="1.0" radius="0.5"/>
      </geometry>
      <origin rpy="0 0 0" xyz="1.5 0 0"/>
      <material name="green"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="1.0" radius="0.5"/>
      </geometry>
      <origin rpy="0 0 0" xyz="1.5 0 0"/>
      <material name="green"/>
    </collision>
  </link>
  <joint name="joint1" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort="1" lower="-1" upper="1" velocity="1"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="A"/>
    <child link="B"/>
  </joint>
</robot>