<launch>

  <param name="robot_description" textfile="$(find ompl_solver_demo)/resources/lwr_simplified.urdf" />
  <param name="robot_description_semantic" textfile="$(find ompl_solver_demo)/resources/lwr_simplified.srdf" />

  <node pkg="ompl_solver_demo" type="OMPLexample" name="OMPLSolverDemoNode" output="screen">
    <param name="config" type="string" value="$(find ompl_solver_demo)/resources/ompl_solver_demo.xml" />
    <param name="solver" type="string" value="OMPL Interface" />
    <param name="problem" type="string" value="OMPLProblem" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" respawn="false"	args="-d $(find ompl_solver_demo)/resources/rviz.rviz" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="ompl_st_pub" />
  
</launch>
